# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\aranz\OneDrive - 연세대학교 (Yonsei University)\바탕 화면\College\2020_2\AI스타트업\Riot API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
